#j1{
    width: 400px;
    height: 400px;
}
#j2{
    width: 400px;
    height: 400px;
}
#j4{
    width: 400px;
    height: 400px;
    margin-left: 1030px;
    margin-top: -275px;
}
#j5{
    width: 400px;
    height: 400px;
    margin-left:10px; 
}
.j6{
    margin-left: 10px;
}